body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(251, 248, 248);
}

input {
    color: #fff;
    padding: 17px;
    outline: none;
    font-size: 30px;
    font-family: cursive;
    border-radius: 25%;

}


.main {
    display: flex;
}

.maincolor {
    background-color: #000;
}

.num {
    width: 64px;
    height: 67px;
}

.wrapper-calculator {
    display: flex;
    flex-direction: column;
}

.text1 {
    width: 24px;
    height: 26px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 12px;
    cursor: pointer;
}


.text {
    width: 300px;
    height: 26px;
    border-radius: 15px;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 12px;
    
}

.blue {
    background-color: #0cd0cd;
}

.pin {
    background-color: red;
}


.gre {
    background-color: blueviolet;
}

.pur {
    background-color: #f11fff;
}


.ora {
    background-color: orange;
}



label {
    color: #fff;
    display: flex;
    font-size: 30px;
    font: arial ;
    font-weight: bold;
}


@media (max-width: 450px) {

   body {
       
       
   }

    .main {
        display: flex;
    }
    form {
        display: flex;
        flex-wrap: wrap;
    }
    

    .num {
        width: 40px;
        height: 39px;

    }

    .text {
        width: 290px;
        border-radius: 10px;
    }

    .text1 {
        width: 290px;
        border-radius: 10px;
    }
    .calcula-texto {
        display: none;
    }
}